@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #feecc8;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1,h2 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;    
}

h1{
    font-size: 40px;
    font-weight: 300;
}

h2{
    font-size: 24px;
    font-weight: 200;
}


/*-----Styling game board on which card game will be played-----*/

.board-bg {
    background: #a0ced9;
    border: #809bce double;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
    min-height: 500px;
    box-shadow: 15px 15px 20px  rgba(0, 0, 0, 0.5);
    padding-right: 20px;

}

/*-----Basic 'Playing Card' Design / Formatting-----*/

.board-bg .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffa69e;
    border: #fb6f92 double 5px;
    width: 100px;
    height: 140px;
    box-shadow: 2.5px 5px 5px  rgba(0, 0, 0, 0.5);
}

/*-----HUD Design-----*/

.HUD {
    text-align: left;
    display: inline-block;
    width: 800px;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;   
    font-size: 24px;
    font-weight: 200;
}

.HUD .restart {
    display: inline-block;
    cursor: pointer;
    float: right;
}

/*-----Media queries-----*/

@media only screen and (max-width: 800px) {
    
    html,
    body {
        overflow-x: hidden;
    } 

    header {
        width: 100%;
        min-width: 300px;
        margin: 10px;
        justify-content: space-around;
    }
    
    .HUD {
        font-size: 20px;
        width: 100%;
        min-width: 300px;
        max-width: 300px;
        margin-left: 30px;
    } 

    .board-bg {
        box-shadow: 2.5px 5px 5px  rgba(0, 0, 0, 0.5);
        width: 100%;
        min-width: 300px;
        margin: 10px;
        justify-content: space-around;
    }   
    
}
